footer {
  background-color: rgb(68, 66, 66);
  padding: 30px 10%;
  color: white;
  margin-top: 100px;
  font-size: small;
}

.footer_top {
  width: 100%;
}

.footer_top ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: 0;
  padding: 0;
}
.footer_top li {
  border-right: 1px solid white;
  padding-right: 20px;
  cursor: pointer;
}

#last_list {
  border: none;
}

.footer_bottom {
  display: flex;
  width: 100%;
  margin-top: 30px;
}

.footer_bottom_left {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.footer_bottom_left img {
  height: 30px;
  width: 30px;
  margin: 10px;
  cursor: pointer;
}

.footer_bottom_right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.footer_bottom_right img {
  height: 40px;
  margin: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  footer {
    padding: 30px 2%;
  }
}

@media only screen and (max-width: 750px) {
  .footer_top ul {
    display: block;
  }

  .footer_top li {
    border-right: none;
    padding-top: 5px;
  }
}

@media only screen and (max-width: 600px) {
    .footer_bottom{
      display: block;
    }
    .footer_bottom_left{
        width: 100%;
        display: block;
        text-align: center;
    }
    .footer_bottom_right{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        margin-top: 30px;

    }

    .footer_bottom_left img {
        height: 50px;
        width: 50px;
      }
  }
